@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-image: linear-gradient(to bottom, #F7F7F2,#E4E6C3, #545a72); 
    background-attachment: fixed; 
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(109, 115, 141, 0.582);
}
h1 {
color: #FA7921;
text-align: center;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.233);
}
h2 {
    color: #0C6291;
}
    
    p {
text-align: justify;
    }